
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
 #carTip {
            font-size: 18px;
            font-weight: bold;
            margin-top: 20px;
            color: #ff4b2b;
        }

 #generateTip {
            background-color: #007bff;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }

 #generateTip:hover {
            background-color: #0056b3;
        }

body {
    font-family: 'Lil Grotesk', sans-serif;
    color: #333;
    background: linear-gradient(to bottom, #ffffff, #e6e6e6);
    line-height: 1.6;
	
}


header {
    background: linear-gradient(90deg, #1c1c1c, #444, #1c1c1c);
    padding: 10px 20px;
}
.header1 {
    background-color: #333;
    color: #fff;
    padding: 1.5rem 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}
.header1 h1 {
    font-size: 2.5rem;
    margin: 0;
}

.header1 p {
    font-size: 1.2rem;
    margin: 0.5rem 0 0;
}

header nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

header nav ul li a:hover,
header nav ul li a.active {
    background: #ff4b2b;
    color: #ffffff;
    border-radius: 5px;
}


main {
    padding: 20px;
    text-align: center;
	color:white;
}
.contactmain{
	
    padding: 20px;
    text-align: center;
	color: #1c1c1c;
	color: #555;
	
}
.contacth1{
	color: #1c1c1c;
}
	

main h1 {
    font-size: 2.5rem;
    /*color: #1c1c1c;*/
	color:rgb(248, 167, 61);
    margin-bottom: 10px;
}
main h1:hover{
	text-decoration:underline;
}

main h2 {
    font-size: 1.8rem;
    /*color: #555;*/
	color:rgb(248, 167, 61);
    margin-bottom: 20px;
}

.image-link-container {
    position: relative;
    width: 100%;
    max-width: 300px; 
    margin: 20px auto; 
}

.link-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px; 
}


.image-button {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.6);
    background: linear-gradient(45deg, #ff7a18, #af002d);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    text-decoration: none;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.image-link:hover .image-button {
    box-shadow: 0 0 20px rgba(255, 122, 24, 0.8), 0 0 40px rgba(175, 0, 45, 0.8);
    transform: translateX(0.5)
}

.timeline {
    margin: 20px 0;
    padding: 0;
    list-style: none;
}


.timeline-item {
    margin: 15px 0;
    padding: 10px;
    border-left: 2px solid #008000; 
    position: relative;
}

.timeline-item h3 {
    margin: 0;
    color: white; 
    font-size: 18px; 
}

.timeline-item p {
    color: white; 
    font-size: 14px; 
}

.timeline-item img {
    width: 100%; /* Responsive image */
    height: auto;
    margin-top: 10px;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}


.timeline-item:hover {
    background-color: rgba(0, 128, 0, 0.1); 
    border-left-color: #ff4b2b; 
}

@media (max-width: 768px) {
   
    .timeline-item {
        margin-left: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .image-button {
        font-size: 14px; 
    }
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 15px; 
    padding: 10px; 
}


.gallery-image {
    width: 100%;
    max-width: 400px;
    height: auto; 
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease, filter 0.3s ease, border-color 0.3s ease; 
    display: block; 
    margin: 20px auto;
    overflow: hidden; 
    border: 2px solid rgba(255, 255, 255, 0.8); 
}


.gallery-image:hover {
    border-color: #ff4b2b; 
    filter: brightness(1.1); 
	border-radius:50%;
    transform: scale(1.1) rotate(3deg);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.3);
}


.content-image {
    width: 100%;
    max-width: 400px; 
    height: auto;
    border-radius: 10px; 
    box-shadow: 0 8px 16px #00000026;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: block; 
    margin: 20px auto; 
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.8);
}


.content-image:hover {
    transform: scale(1.05); 
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); 
    border-color: #ff4b2b; 
    filter: brightness(1.1); 
}


@media (max-width: 768px) {
    .sliding-sections {
        grid-template-columns: 1fr; 
    }
    .gallery-image, .content-image {
        max-width: 90%; 
    }
}



.form-container {
    padding: 40px;
    background-color: #f9f9f9; 
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 0 auto;
}

.form-container input[type="submit"]:hover {
    transform: scale(1.1);
    background-color: #ff5722;
}

#gender{
	margin-bottom:15px;
	border:solid ;
}
#date{
	margin-bottom:15px;
	border:solid;
}
#age{
	margin-bottom:15px;
	border:solid;
}

.form-container label {
    font-size: 18px;
    color: #333; 
    font-weight: 600;
    margin-bottom: 8px;
    display: block; 
}


.form-container input[type="text"], 
.form-container input[type="email"], 
.form-container textarea {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ddd;
    background-color: #f4f4f4;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px; 
    transition: border-color 0.3s ease, background-color 0.3s ease;
}


.form-container input[type="text"]:focus, 
.form-container input[type="email"]:focus, 
.form-container textarea:focus {
    border-color: #ff4b2b;
    background-color: #fff;
    outline: none;
}


.form-container textarea {
    resize: vertical;
    min-height: 150px;
}


.form-container input[type="submit"] {
    padding: 15px;
    background-color: #ff4b2b; 
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s ease, transform 0.3s ease;
}


.form-container input[type="submit"]:hover {
    background-color: #e43f1b; 
    transform: translateY(-2px);
}


@media (max-width: 768px) {
    .form-container {
        padding: 20px; 
    }
}


footer {
    background: #1c1c1c;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

footer .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

footer .footer-content div {
    flex: 1;
    min-width: 250px;
}

footer h3 {
    font-size: 1.2rem;
    color: #ff4b2b;
    margin-bottom: 10px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #ff4b2b;
}


@media (max-width: 768px) {
    header nav ul {
        flex-direction: column;
    }

    .sliding-sections {
        grid-template-columns: 1fr;
    }

    footer .footer-content {
        flex-direction: column;
    }
}
::-webkit-scrollbar {
    width: 12px; 
}


::-webkit-scrollbar-thumb {
    background: orange; 
    border-radius: 10px;
    border: 2px solid #f4f4f4;
}
.company:hover{
	color:orange;
}
#myBtn{
	color:white;
	bottom:20px;
	right:30px;
	background-color:red;
	border:none;
	border-radius:10px;
	padding: 15px;
	cursor:pointer;
	font-size:18px;
	box-shadow: 0 1px #f2eeee;
	outline:none;
	
	
	
	
}
#myBtn:hover{
	background-color:#555;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /*behind everything */
}

.video-background video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
p{
	color:#FF8C00;
}
.summary{
	color:black;
	border-style:double;
}
.details{
	color:black;

}
.summary:hover{
	text-decoration:underline;
	color:rgb(111, 105, 51);
	
}
.details:hover{
	color:brown;
	
	
}
.detailsh2:hover{
	text-decoration:underline;
	
}
.orange{
	color:#FF8C00;
}
li{
	color:#FF8C00;
}
.table1{
	display:flex;
	justify-content:center;
	
}
table{
	margin-bottom:20px;
	font-family:Nexa Aura;
}
tr:hover {
    transform: scale(1.02); 
    box-shadow: 0px 4px 10px ;
    background-color: #fff2e4;
    cursor:pointer; 
    color:rgb(160, 109, 0);  
  }


label {
                margin: 10px 0;
                font-size: 1.2em;
            }
    
 input {
                padding: 10px;
                font-size: 1em;
                border: 1px solid #ccc;
                border-radius: 5px;
                margin-bottom: 10px;
                width: 250px;
            }
    
#calcButton {
                padding: 15px 30px;
                font-size: 1.2em;
                color: white;
                background-color: #28a745; /* Green */
                border: none;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s, transform 0.2s;
            }
    
 #calcButton:hover {
                background-color: #218838;
                transform: scale(1.1);
            }
    
#fuelCost {
                margin-top: 20px;
                font-size: 1.5em;
                color: #555;
       }
label {
            margin: 10px 0;
            font-size: 1.2em;
        }

input {
            padding: 10px;
            font-size: 1em;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
            width: 300px;
        }

 #loanButton {
            padding: 15px 30px;
            font-size: 1.2em;
            color: white;
            background-color: #ff9800; /* Orange */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s, transform 0.2s;
        }

#loanButton:hover {
            background-color: #e68900;
            transform: scale(1.1);
        }

#loanResult {
            margin-top: 20px;
            font-size: 1.5em;
            color: #555;
        }


